In [1]:
import numpy as np
import pandas as pd

%matplotlib inline

In [3]:
df = pd.DataFrame(np.random.randn(20, 4), columns='A B C D'.split())

In [4]:
df.head()

          A         B         C         D
0 -2.808206 -2.041967  0.774719  1.493140
1  0.313046 -1.499551 -0.028632  2.743647
2 -0.253394 -0.742892 -1.068531 -1.058945
3  0.441886 -1.083795  1.021774 -0.222205
4 -0.999312  2.256406 -0.724564 -0.164294

In [5]:
df['E'] = ['Google', 'Google', 'Google', 'Google', 'MS', 'MS', 'Apple', 'Apple', 'Apple', 'Apple'] * 2

In [7]:
df2 = df.copy()

In [9]:
df2['E'].value_counts()

Apple     8
Google    8
MS        4
Name: E, dtype: int64

In [37]:
df2.groupby('E', as_index=False).count()

        E  A  B  C  D
0   Apple  8  8  8  8
1  Google  8  8  8  8
2      MS  4  4  4  4

In [28]:
group = df2.groupby('E', as_index=False)['E'].transform(lambda x : x.count())

In [29]:
group

    E
0   8
1   8
2   8
3   8
4   4
5   4
6   8
7   8
8   8
9   8
10  8
11  8
12  8
13  8
14  4
15  4
16  8
17  8
18  8
19  8